* {
  margin: 0.01rem;
  padding: 0.01rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: static;
}
body {
  background-color: rgb(160, 160, 160);
  transition: all 0.7s;
}
.wrapper {
  margin: 1rem auto;
  width: 90%;
  border: 0.2rem solid black;
  background-color: rgb(255, 255, 255);
  max-height: 35.40rem;
}
.wrapper__title {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  border-bottom: 0.1rem solid black;
}
.wrapper__item {
  border-bottom: 0.1rem solid black;
  color: grey;
}
.input {
  display: none;
}
label {
  cursor: pointer;
  display: block;
}
.wrapper__laber {
  padding: 0.1% 5% 0.1%;
}
.labet__content {
  display: flex;
  justify-content: space-between;
}
.laber__title {
  font-size: 1rem;
}
.laber__plus {
  font-size: 1.4rem;
  opacity: 1;
  transition: all 0.8s ease;
}
.img {
  overflow: hidden;
  margin: 0.1rem auto;
  width: 90%;
  max-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 1rem;
  display: block;
  transition: all 0.8s ease-out;
}
input:checked~label .img {
  max-height: 15rem;
}
input:checked~label .laber__plus {
  transform: rotate(45deg);
  color: black;
  font-weight: 900;
}
input:checked~label .laber__title {
  color: black;
  font-weight: 800;
  transition: all 0.8s ease-out;
}
@media (min-width: 820px) {
  .laber__plus {
    opacity: 0;
  }
  label:hover .img {
    max-height: 25rem;
  }
  label:hover .laber__plus {
    transform: rotate(45deg);
    color: black;
    opacity: 1;
    font-weight: 800;
    transition: all 0.8s ease-out;
  }
  .wrapper:hover .laber__plus {
    color: black;
    opacity: 1;
    font-weight: 800;
    transition: all 0.8s ease-out;
  }
  .wrapper:hover .laber__title{
    color: black;
    font-weight: 800;
    transition: all 0.8s ease-out;
  }
  .wrapper {
    max-height: 67.40rem;
  }
  .wrapper__title {
    font-size: 3rem;
  }
  .laber__title {
    font-size: 1.5rem;
  }
  .laber__plus {
    font-size: 2rem;
  }
  .img {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    max-height: 73.60rem;
    width: 47%;
  }
  input:checked~label .img {
    max-height: 23rem;
  }
  .img {
    width: 50%;
  }
  .wrapper__title {
    font-size: 3.2rem;
  }
  .laber__title {
    font-size: 1.7rem;
  }
  .laber__plus {
    font-size: 2.1rem;
  }
}
.wrapper__item:active  {
  opacity: 0.6;
  transition: 0.5s;
}
.wrapper__item:active .laber__title {
  color: blue;
  transition: 0.5s;
}
.wrapper__item:active .laber__plus {
  color: blue;
  transition: 0.5s;
}