* {
  margin: 0.01rem;
  padding: 0.01rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: static;
}
body {
  background-color: rgb(160, 160, 160);
  transition: all 0.7s;
}
.wrapper {
  margin: 1rem auto;
  width: 90%;
  border: 0.2rem solid black;
  background-color: rgb(255, 255, 255);
}
.wrapper__title {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.8rem;
  font-weight: 800;
  border-bottom: 0.1rem solid black;
}
.wrapper__item {
  border-bottom: 0.1rem solid black;
  color: grey;
  
}
.input {
  display: none;
}
label {
  cursor: pointer;
  display: block;
}
.inpit-1 {
}
.wrapper__laber {
  padding: 0.1% 5% 0.1%;
}
.labet__content {
  display: flex;
  justify-content: space-between;

}
.laber__title {
  font-size: 1.4rem;
  /* padding-left: 0.8rem; */
}
.laber__plus {
  font-size: 1.4rem;
  /* transform: rotate(45deg); */
  opacity: 1;
  transition: all 0.8s ease;
}
.img {
  overflow: hidden;
  margin: 0.1rem auto;
  width: 90%;
  max-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3rem;
  display: block;
  transition: all 0.8s ease-out;
}
input:checked~label .img {
  max-height: 20rem;
}
input:checked~label .laber__plus {
  transform: rotate(45deg);
  color: black;
}
input:checked~label .laber__title {
  color: black;
}

